<mat-card class="mat-elevation-z1" fxFlex="1 1 50%" fxFlexOffset="25%">
<form id="loanApplication" [formGroup]="applicationForm" (ngSubmit)="calculate()">

  <label id="loan-type-label">What type of loan do you need?</label>
  <mat-radio-group aria-labelledby="loan-type-label"
                  class="vertical-radio-group"
                  formControlName="loanType"
                  name="loanType"
                  required>
    <mat-radio-button class="vertical-radio-button" *ngFor="let loanType of loanTypes" [value]="loanType.key">
      {{loanType.description}}
    </mat-radio-button>
  </mat-radio-group>
  <mat-error *ngIf="hasError('loanType', 'required')">You must choose a loan type</mat-error>

  <label id="payment-scheme-label">What payment scheme do you desire?</label>
  <mat-radio-group aria-labelledby="payment-scheme-label"
                   class="vertical-radio-group"
                   formControlName="paymentScheme"
                   name="paymentScheme"
                   required>
    <mat-radio-button class="vertical-radio-button" *ngFor="let paymentScheme of paymentSchemes" [value]="paymentScheme.key">
      {{paymentScheme.value}}
    </mat-radio-button>
  </mat-radio-group>
  <mat-error *ngIf="hasError('paymentScheme', 'required')">You must choose a payment scheme</mat-error>

  <label id="loan-amount-scheme-label">How much do you need to loan?</label>
  <section>
    <mat-form-field >
      <input matInput type="number" placeholder="Loan amount" required min="1000" max="1000000000" formControlName="loanAmount" name="loanAmount" step="1000"/>
    </mat-form-field>
    <mat-error *ngIf="hasError('loanAmount', 'required')">You must enter the desired loan amount</mat-error>
  </section>

  <label id="loan-amount-scheme-label">For how long do you need to borrow the money?</label>
  <section>
    <mat-slider min="0" max="300" name="periods" tickInterval="12" thumbLabel formControlName="periods" name="periods"></mat-slider>
  </section>
  <mat-hint>Number of months</mat-hint>

    <div>
      <button mat-raised-button color="primary" [disabled]="!applicationForm.valid">Calculate my loan</button>
    </div>
    
  </form>
</mat-card>
